body {
	background-color: #000;
	color: #fff;
	text-align: center;
}

.g_code_text {
	width: 480px;
	margin: auto;
	text-align: left;
	padding: 0px;
	font-size: 12px;
	font-family: "Courier New";
}

#code {
	width: 480px;
	height: 360px;
	font-family: "Courier New";
}